body{
    text-align: center;
    background: #adabe2;
}

main{
    width:1000px;
    height: 600px;
    background: #9eb4cc;
    margin: 25px auto;
    border: solid 2px #ff3819;
}

p{
    font-size:12pt;
    text-align: left;
    text-indent: 48px;
}